

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:indigo;
  position:sticky;
  top:0;
  z-index:1000;
}

.logo{
  font-size:22px;
  font-weight:700;
  color:#00f2ff;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:25px;
  margin:0;
  padding:0;
}

.nav-links a{
  text-decoration:none;
  color:#ffffff;
  font-size:16px;
  position:relative;
}

.nav-links a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-6px;
  width:0;
  height:2px;
  background:#00f2ff;
  transition:0.3s ease;
}

.nav-links a:hover::after{
  width:100%;
}