body {background-color:gray}
h1{ text-align:center; color:red; background:yellow;}
h2{ text-align:center; color:blue; background:# ffffff; }
p { text-align:center; color:blue; background:white;}
 
 
 div{max-width:auto;
	height:auto;
	background:powderblue;
	padding:50px ;
	border:5px solid #888000;
	margin:40px;
	box-shadow:1px 1px 40px black;
	border-radius:50px;
	font-size:25px;}
	
	r.{display:block;
		margin-left:auto;
	margin-right:auto;}